.idea/ 
*.tar 
hytale-auth
hytale-auth.exe
config.json
pulp-cell/*.wasm
pulp-cell/hytale-auth-cell
pulp-cell/hytale-auth-plugin
pulp-cell/data/

pulp-deployment/*.exe
pulp-deployment/*.exe~
server.exe
